<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Form Add Employee</h1>
    </div>
  </div>
  <form [formGroup]="fg" (ngSubmit)="onClickedSave()">
    <div
      formArrayName="users"
      *ngFor="let user of getUserControls(); let i = index"
    >
      <div [formGroupName]="i">
        <div class="card">
          <div class="card-body">
            <div class="row pl-3 pr-3">
              <div class="col-lg-6 col-md-6">
                <label class="text-label">Username</label>
                <input
                  type="text"
                  [ngClass]="{
                    'is-invalid': submitted && user.get('username')?.errors
                  }"
                  class="form-control"
                  formControlName="username"
                  placeholder="Username"
                />
                <div
                  class="invalid-validation"
                  *ngIf="submitted && user.get('username')?.errors"
                >
                  Username Harus Di isi
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <label class="text-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && user.get('email')?.errors
                  }"
                  formControlName="email"
                  placeholder="Email"
                />
                <div
                  class="invalid-validation"
                  *ngIf="submitted && user.get('email')?.errors"
                >
                  Email Harus Di isi
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-3">
                <label class="text-label">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="firstName"
                  [ngClass]="{
                    'is-invalid': submitted && user.get('firstName')?.errors
                  }"
                  placeholder="First Name"
                />
                <div
                  class="invalid-validation"
                  *ngIf="submitted && user.get('firstName')?.errors"
                >
                  First Name Harus Di isi
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-3">
                <label class="text-label">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="lastName"
                  [ngClass]="{
                    'is-invalid': submitted && user.get('lastName')?.errors
                  }"
                  placeholder="Last Name"
                />
                <div
                  class="invalid-validation"
                  *ngIf="submitted && user.get('lastName')?.errors"
                >
                  Last Name Harus Di isi
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-3">
                <label class="text-label">Birthdate</label>
                <input
                  type="datetime-local"
                  class="form-control"
                  formControlName="birthDate"
                  [ngClass]="{
                    'is-invalid': submitted && user.get('birthDate')?.errors
                  }"
                />
                <div
                  class="invalid-validation"
                  *ngIf="submitted && user.get('birthDate')?.errors"
                >
                  Birthdate Harus Di isi
                  <!-- <div
                    *ngIf="
                      user.get('birthdate')?.errors.hasError('moreThanToday')
                    "
                  >
                    Birthdate Tidak Boleh Lebih Dari Hari ini
                  </div> -->
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-3">
                <label class="text-label">Basic Salary</label>
                <input
                  type="text"
                  currencyMask
                  placeholder="1.000.000"
                  [options]="{
                    prefix: '',
                    thousands: '.',
                    decimal: ',',
                    align: 'left',
                    precision: 0,
                    allowNegative: false
                  }"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && user.get('basicSalary')?.errors
                  }"
                  formControlName="basicSalary"
                />
                <div
                  class="invalid-validation"
                  *ngIf="submitted && user.get('basicSalary')?.errors"
                >
                  Basic Salary Harus Di isi
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-3">
                <label class="text-label">Group</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="group"
                  [ngClass]="{
                    'is-invalid': submitted && user.get('group')?.errors
                  }"
                  placeholder="Group"
                />
                <div
                  class="invalid-validation"
                  *ngIf="submitted && user.get('group')?.errors"
                >
                  Group Harus Di isi
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-3">
                <label class="text-label">Status</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="status"
                  [ngClass]="{
                    'is-invalid': submitted && user.get('status')?.errors
                  }"
                  placeholder="Status"
                />
                <div
                  class="invalid-validation"
                  *ngIf="submitted && user.get('status')?.errors"
                >
                  Status Harus Di isi
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-3">
                <label class="text-label">Description</label>
                <input
                  type="datetime-local"
                  class="form-control"
                  formControlName="description"
                  [ngClass]="{
                    'is-invalid': submitted && user.get('description')?.errors
                  }"
                />
                <div
                  class="invalid-validation"
                  *ngIf="submitted && user.get('description')?.errors"
                >
                  Description Harus Di isi
                </div>
              </div>
              <div class="col-12 mt-3 floatRight">
                <button type="submit" class="btn btn-success position">
                  Save
                </button>
                <button
                  type="button"
                  class="btn btn-warning"
                  (click)="backToList()"
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
